body {
    background-image: linear-gradient(to right, #000000,#393931,#686861); 
    padding: 20px;
    
    font-style: normal;   

}
h1 {
    color: #f0eaea;
    text-shadow: 3px 3px 5px  #8914f0;
}
h2{
   color: #f36609;
   text-shadow: 2px 2px 5px#0686ef ;
   font-size: xx-large;
   

}
h3{
    color:#6417cf;
    font-size:larger
}
h4{
    color: #97e983;
}



.navbar {
            text-align: right;
            margin-top: 10px;
            margin-bottom: 20px;
            background: #000000;
            border: #4783b4;
            border-style: double;
            padding: 5px;
            border-radius:10px ;       
            
            
            
        }
 .navbar a {
            margin-right: 15px;
            margin-left: 15px;
            text-decoration: none;
            color: #6cc3e9;
            text-shadow:2px 2px 5px #f36609;
            font-weight: bolder;
            font-size: large;
        }


p {
    font-size: 16px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    font-size: larger;
    
} 
ul,li{
    line-height: 1.5;
    color: rgb(255, 255, 255);
    font-size: large; 
}
#contact {
    padding: 40px;
    text-align: center;
    margin-top: 30px;
}

.contact-links a {
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 15px;
    text-decoration: none;
    color: #eef3f7;
    background-color: #0d3f68;
    border-radius: 8px;
    font-weight: bold;
    font-size: large;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-links a:hover {
    background-color: #225680;
    color: #d1d10a;
    transform: scale(1.1);
}

